<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Ollivander's Wand Shop</title>
</head>
<body>
    <div class="container">
    <h1>All Wands</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Core</th>
                <th>Length</th>
                <th>Wood</th>
            </tr>
        </thead>
        <tbody>
            {% for wand in all_wands %}
            <tr>
                <td>{{wand.id}}</td>
                <td>{{wand.core}}</td>
                <td>{{wand.length}}</td>
                <td>{{wand.wood}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/wands/new">Add a Wand</a>
    </div>
</body>
</html>