<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hogwarts Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Register a New Student</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/students/new" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" name="firstname">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" name="lastname">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
<hr>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Student Name</th>
                <th>Wand</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for student in all_students %}
                <td>{{student.id}}</td>
                <td><a href="/students/{{id}}">{{student.full_name}}</a></td>
                {% if student.wand %}
                <td>{{student.wand}} <a href="wand/remove">Remove Wand</a></td>
                {% else %}
                <td>
                    <form action="/wand" method="post" class="form-inline">
                        {% csrf_token %}
                        <select name="wand" class="form-control">
                            {% for wand in all_wands %}
                            <option>{{wand}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Add" class="btn btn-success">
                    </form>
                </td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
</body>
</html>